* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 90%;
  margin: 20px auto;
  font-size: 20px;
  font-family: tahoma, serif;
  color: black;
  background-color: beige;
}

header {
  text-align: center;
  background-color: rgba(118, 148, 148, 0.945);
  margin: 20px 0px;
  padding: 20px;
  vertical-align: middle;
  color: navy;
}

header h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header small {
  font-size: 25px;
}

nav {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 0px;
  background-color: inherit;
  position: relative;
}

nav a {
  text-decoration: none;
  padding: 0px 5px;
}

section {
  margin: 20px 0px;
  padding: 10px 0px;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

section div {
  margin: 20px 0px;
  padding: 10px 0px;
  line-height: 1.5em;
}

@media screen and (max-width: 480px) {
  body {
    width: 90%;
    margin: auto;
  }

  h1 {
    font-size: 40px;
    font-family: sans-serif;
  }
}
