*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 98%;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

header{
    text-align: center;
}

header h1{
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6em;
    font-weight: lighter;
}

header small{
    font-style: italic;
    font-size: 1.5em;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0px;
    font-weight: normal;
    color: darkcyan;
}

.about-us section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    grid-column-gap: 10px;
    align-items: center;
}

.summary{
    padding: 10px;
    line-height: 1.3em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.aims p{
    font-size: 1.3em;
    margin: 5px 0px;
}

.aims ul{
    font-size: 1.15em;
    font-weight: lighter;    
}

.aims h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(57, 108, 121);
    margin: 10px 0px;
}

.aims ul{
    list-style-type: circle;
    list-style-position: inside;
}

.executives{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

figure img:hover{
    box-shadow: 4px 4px 4px silver, -2px -2px 2px silver;
}

figure img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 5px;
}

figcaption {
    font-size: 20px;
}

.copyright{
    color: rgb(165, 153, 153);
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


@media screen and (max-width: 770px){
    header h1{
        margin-top: 30px;
        font-size: 3.5em;
    }

    header small{
        font-size: 1.2em;
    }

    .aims{
        padding: 10px;
    }

    .executives{
        grid-gap: 20px;
    }
}
